WebAppElectronicInvoice/Connected Services/ServiceInvoway/ConsultaEstadosFacturasWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://impl.consultaestados.ws.saaf.delogica.es/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ConsultaEstadosFacturasWS" targetNamespace="http://impl.consultaestados.ws.saaf.delogica.es/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://impl.consultaestados.ws.saaf.delogica.es/">
      <xs:import namespace="http://www.w3.org/2005/05/xmlmime" />
      <xs:element name="consultaFacturasModificadas" type="tns:consultaFacturasModificadas" />
      <xs:element name="consultaFacturasModificadasResponse" type="tns:consultaFacturasModificadasResponse" />
      <xs:element name="entregaFactura" type="tns:entregaFactura" />
      <xs:element name="entregaFacturaResponse" type="tns:entregaFacturaResponse" />
      <xs:element name="getEstadosFacturas" type="tns:getEstadosFacturas" />
      <xs:element name="getEstadosFacturasConFicheros" type="tns:getEstadosFacturasConFicheros" />
      <xs:element name="getEstadosFacturasConFicherosResponse" type="tns:getEstadosFacturasConFicherosResponse" />
      <xs:element name="getEstadosFacturasResponse" type="tns:getEstadosFacturasResponse" />
      <xs:complexType name="consultaFacturasModificadas">
        <xs:sequence>
          <xs:element minOccurs="0" form="qualified" name="request" type="tns:consultaFacturasModificadasRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="consultaFacturasModificadasRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="fechaYHoraFin" type="xs:dateTime" />
          <xs:element minOccurs="0" name="fechaYHoraInicio" type="xs:dateTime" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="consultaFacturasModificadasResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:consultaEstadosFacturasResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="consultaEstadosFacturasResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:generalResponse">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="infoEstadosFacturas" nillable="true" type="tns:infoEstadosFactura" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="generalResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigoRespuesta" type="xs:int" />
          <xs:element minOccurs="0" name="mensajeRespuesta" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="infoEstadosFactura">
        <xs:sequence>
          <xs:element minOccurs="0" name="estadoDIAN" type="xs:string" />
          <xs:element minOccurs="0" name="estadoEnvioCliente" type="xs:string" />
          <xs:element minOccurs="0" name="fechaAlta" type="xs:dateTime" />
          <xs:element minOccurs="0" name="fechaEstadoDIAN" type="xs:dateTime" />
          <xs:element minOccurs="0" name="fechaEstadoEnvioCliente" type="xs:dateTime" />
          <xs:element minOccurs="0" name="fechaFactura" type="xs:dateTime" />
          <xs:element minOccurs="0" name="identificadorFactura" type="tns:identificadorFactura" />
          <xs:element minOccurs="0" name="observacionesEstadoCliente" type="xs:string" />
          <xs:element minOccurs="0" name="observacionesEstadoDIAN" type="xs:string" />
          <xs:element minOccurs="0" name="UUID" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="identificadorFactura">
        <xs:sequence>
          <xs:element minOccurs="0" name="anyo" type="xs:string" />
          <xs:element minOccurs="0" name="idFiscalEmisor" type="xs:string" />
          <xs:element minOccurs="0" name="numeroDocumento" type="xs:string" />
          <xs:element minOccurs="0" name="tipoDocumento" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getEstadosFacturasConFicheros">
        <xs:sequence>
          <xs:element minOccurs="0" form="qualified" name="request" type="tns:consultaEstadosFacturasRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="consultaEstadosFacturasRequest">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="identificadoresFacturas" nillable="true" type="tns:identificadorFactura" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getEstadosFacturasConFicherosResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:consultaEstadosFicherosYFacturasResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="consultaEstadosFicherosYFacturasResponse">
        <xs:complexContent mixed="false">
          <xs:extension base="tns:generalResponse">
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="infoEstadosFacturas" nillable="true" type="tns:infoEstadosFicheroYFactura" />
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="infoEstadosFicheroYFactura">
        <xs:sequence>
          <xs:element xmime:expectedContentTypes="text/xml" minOccurs="0" name="attachedDocumento" type="xs:base64Binary" />
          <xs:element xmime:expectedContentTypes="application/pdf" minOccurs="0" name="pdfDocumento" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="estadoDIAN" type="xs:string" />
          <xs:element minOccurs="0" name="estadoEnvioCliente" type="xs:string" />
          <xs:element minOccurs="0" name="fechaAlta" type="xs:dateTime" />
          <xs:element minOccurs="0" name="fechaEstadoDIAN" type="xs:dateTime" />
          <xs:element minOccurs="0" name="fechaEstadoEnvioCliente" type="xs:dateTime" />
          <xs:element minOccurs="0" name="fechaFactura" type="xs:dateTime" />
          <xs:element minOccurs="0" name="identificadorFactura" type="tns:identificadorFactura" />
          <xs:element minOccurs="0" name="nombreDocumentoElectronico" type="xs:string" />
          <xs:element minOccurs="0" name="nombreRepresentacionGrafica" type="xs:string" />
          <xs:element minOccurs="0" name="observacionesEstadoCliente" type="xs:string" />
          <xs:element minOccurs="0" name="observacionesEstadoDIAN" type="xs:string" />
          <xs:element minOccurs="0" name="UUID" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="documento">
        <xs:sequence>
          <xs:element name="numeroDocumento" type="xs:string" />
          <xs:element minOccurs="0" name="uuidDocumento" type="xs:string" />
          <xs:element name="tipoDocumento" type="xs:string" />
          <xs:element name="subtipoDocumento" type="xs:string" />
          <xs:element name="tipoOperacion" type="xs:string" />
          <xs:element name="divisa" type="xs:string" />
          <xs:element name="fechaDocumento" type="xs:string" />
          <xs:element minOccurs="0" name="refPedido" type="xs:string" />
          <xs:element minOccurs="0" name="unidadOrganizativa" type="xs:string" />
          <xs:element minOccurs="0" name="fechaVencimiento" type="xs:string" />
          <xs:element minOccurs="0" name="direccionFactura" type="xs:string" />
          <xs:element minOccurs="0" name="distritoFactura" type="xs:string" />
          <xs:element minOccurs="0" name="ciudadFactura" type="xs:string" />
          <xs:element minOccurs="0" name="departamentoFactura" type="xs:string" />
          <xs:element minOccurs="0" name="codigoPostalFactura" type="xs:string" />
          <xs:element minOccurs="0" name="paisFactura" type="xs:string" />
          <xs:element minOccurs="0" name="incoterm" type="xs:string" />
          <xs:element minOccurs="0" name="motivoRect" type="xs:string" />
          <xs:element minOccurs="0" name="fechaIniFacturacion" type="xs:string" />
          <xs:element minOccurs="0" name="fechaFinFacturacion" type="xs:string" />
          <xs:element minOccurs="0" name="documentosReferenciados">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" name="documentoReferenciado">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="numDocumentoRef" type="xs:string" />
                      <xs:element minOccurs="0" name="uuidDocumentoRef" type="xs:string" />
                      <xs:element minOccurs="0" name="fechaDocumentoRef" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="documentosAdjuntos">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" name="documentoAdjunto">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="nombreFichero" type="xs:string" />
                      <xs:element name="contenidoFichero" type="xs:string" />
                      <xs:element name="indPdfPrincipal" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="proveedor">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="idProveedor" type="xs:string" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="cliente">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="idCliente" type="xs:string" />
                <xs:element minOccurs="0" name="tipoDocumentoIdCliente" type="xs:string" />
                <xs:element minOccurs="0" name="regimenCliente" type="xs:string" />
                <xs:element minOccurs="0" name="razonSocialCliente" type="xs:string" />
                <xs:element minOccurs="0" name="nombreCliente" type="xs:string" />
                <xs:element minOccurs="0" name="apellido1Cliente" type="xs:string" />
                <xs:element minOccurs="0" name="apellido2Cliente" type="xs:string" />
                <xs:element minOccurs="0" name="tipoPersonaCliente" type="xs:string" />
                <xs:element minOccurs="0" name="direccionCliente" type="xs:string" />
                <xs:element minOccurs="0" name="distritoCliente" type="xs:string" />
                <xs:element minOccurs="0" name="ciudadCliente" type="xs:string" />
                <xs:element minOccurs="0" name="departamentoCliente" type="xs:string" />
                <xs:element minOccurs="0" name="codigoPostalCliente" type="xs:string" />
                <xs:element minOccurs="0" name="paisCliente" type="xs:string" />
                <xs:element minOccurs="0" name="telefonoCliente" type="xs:string" />
                <xs:element minOccurs="0" name="emailCliente" type="xs:string" />
                <xs:element minOccurs="0" name="matriculaCliente" type="xs:string" />
                <xs:element minOccurs="0" name="responsabilidadesRutCliente" type="xs:string" />
                <xs:element minOccurs="0" name="tributosCliente" type="xs:string" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="emailsEnvio">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" name="email" type="xs:string" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="impuestos">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" name="impuesto">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="baseImpuesto" type="xs:decimal" />
                      <xs:element name="porcImpuesto" type="xs:decimal" />
                      <xs:element name="valorImpuesto" type="xs:decimal" />
                      <xs:element minOccurs="0" name="codImpuesto" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="retenciones">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" name="retencion">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="baseRetencion" type="xs:decimal" />
                      <xs:element name="porcRetencion" type="xs:decimal" />
                      <xs:element name="valorRetencion" type="xs:decimal" />
                      <xs:element minOccurs="0" name="codRetencion" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="descuentos">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="descuento">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="1" maxOccurs="1" name="base" type="xs:decimal" />
                      <xs:element minOccurs="1" maxOccurs="1" name="porcentaje" type="xs:decimal" />
                      <xs:element minOccurs="1" maxOccurs="1" name="valor" type="xs:decimal" />
                      <xs:element minOccurs="0" maxOccurs="1" name="motivo" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="cargos">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="cargo">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="1" maxOccurs="1" name="base" type="xs:decimal" />
                      <xs:element minOccurs="1" maxOccurs="1" name="porcentaje" type="xs:decimal" />
                      <xs:element minOccurs="1" maxOccurs="1" name="valor" type="xs:decimal" />
                      <xs:element minOccurs="0" maxOccurs="1" name="motivo" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="anticipos">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" name="anticipo">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="valorAnticipo" type="xs:decimal" />
                      <xs:element name="fechaRecepcionAnticipo" type="xs:string" />
                      <xs:element minOccurs="0" name="fechaRealizacionAnticipo" type="xs:string" />
                      <xs:element minOccurs="0" name="instruccionesAnticipo" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="datosTotales">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="subtotal" type="xs:decimal" />
                <xs:element minOccurs="0" name="porcDescuentoFinal" type="xs:decimal" />
                <xs:element minOccurs="0" name="descuentoFinal" type="xs:decimal" />
                <xs:element minOccurs="0" name="totalCargos" type="xs:decimal" />
                <xs:element name="totalBase" type="xs:decimal" />
                <xs:element name="totalImpuestos" type="xs:decimal" />
                <xs:element minOccurs="0" name="totalGastos" type="xs:decimal" />
                <xs:element name="totalDocumento" type="xs:decimal" />
                <xs:element minOccurs="0" name="totalRetenciones" type="xs:decimal" />
                <xs:element minOccurs="0" name="totalAnticipos" type="xs:decimal" />
                <xs:element name="aPagar" type="xs:decimal" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="totalesCop">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="1" name="fctConvCop" type="xs:string" />
                <xs:element minOccurs="1" name="monedaCop" type="xs:string" />
                <xs:element minOccurs="1" name="subtotalCop" type="xs:string" />
                <xs:element minOccurs="1" name="descuentoDetalleCop" type="xs:string" />
                <xs:element minOccurs="1" name="cargoDetalleCop" type="xs:string" />
                <xs:element minOccurs="1" name="totalBrutoCop" type="xs:string" />
                <xs:element minOccurs="1" name="totalIvaCop" type="xs:string" />
                <xs:element minOccurs="1" name="totalIncCop" type="xs:string" />
                <xs:element minOccurs="1" name="totalBolsasCop" type="xs:string" />
                <xs:element minOccurs="1" name="totalOtroImpCop" type="xs:string" />
                <xs:element minOccurs="1" name="montoImpuestosCop" type="xs:string" />
                <xs:element minOccurs="1" name="totalNetoCop" type="xs:string" />
                <xs:element minOccurs="1" name="montoDctoCop" type="xs:string" />
                <xs:element minOccurs="1" name="montoCargoCop" type="xs:string" />
                <xs:element minOccurs="1" name="valorPagarCop" type="xs:string" />
                <xs:element minOccurs="1" name="reteFuenteCop" type="xs:string" />
                <xs:element minOccurs="1" name="reteIvaCop" type="xs:string" />
                <xs:element minOccurs="1" name="reteIcaCop" type="xs:string" />
                <xs:element minOccurs="1" name="totalAnticiposCop" type="xs:string" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="condicionesPago">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" name="condicionPago">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="formaPago" type="xs:string" />
                      <xs:element name="medioPago" type="xs:string" />
                      <xs:element minOccurs="0" name="entidadBancaria" type="xs:string" />
                      <xs:element minOccurs="0" name="numeroCuenta" type="xs:string" />
                      <xs:element minOccurs="0" name="beneficiario" type="xs:string" />
                      <xs:element minOccurs="0" name="fechaPago" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="tipoCambio">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="divisaOrigen" type="xs:string" />
                <xs:element name="divisaDestino" type="xs:string" />
                <xs:element name="tipoCambio" type="xs:decimal" />
                <xs:element name="fechaTipoCambio" type="xs:string" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="datosAdicionales">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="datoAdicional" nillable="true">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="numDato" type="xs:unsignedInt" />
                      <xs:element minOccurs="0" name="valorDato" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="lineas">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" name="linea">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="numLinea" type="xs:unsignedInt" />
                      <xs:element minOccurs="0" name="idEstandarReferencia" type="xs:string" />
                      <xs:element minOccurs="0" name="referenciaItem" type="xs:string" />
                      <xs:element name="descripcionItem" type="xs:string" />
                      <xs:element minOccurs="0" name="unidadMedida" type="xs:string" />
                      <xs:element name="unidadesLinea" type="xs:decimal" />
                      <xs:element name="precioUnidad" type="xs:decimal" />
                      <xs:element name="subtotalLinea" type="xs:decimal" />
                      <xs:element minOccurs="0" name="porcDescuentoLinea" type="xs:decimal" />
                      <xs:element minOccurs="0" name="descuentoLinea" type="xs:decimal" />
                      <xs:element minOccurs="0" maxOccurs="1" name="cargoLinea" type="xs:decimal" />
                      <xs:element name="totalLinea" type="xs:decimal" />
                      <xs:element minOccurs="0" name="codImpuestoLinea" type="xs:string" />
                      <xs:element minOccurs="0" name="porcImpuestoLinea" type="xs:decimal" />
                      <xs:element minOccurs="0" name="valorImpuestoLinea" type="xs:decimal" />
                      <xs:element minOccurs="0" name="idMandante" type="xs:string" />
                      <xs:element minOccurs="0" maxOccurs="1" name="descuentos">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element minOccurs="1" maxOccurs="unbounded" name="descuento">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element minOccurs="1" maxOccurs="1" name="base" type="xs:decimal" />
                                  <xs:element minOccurs="1" maxOccurs="1" name="porcentaje" type="xs:decimal" />
                                  <xs:element minOccurs="1" maxOccurs="1" name="valor" type="xs:decimal" />
                                  <xs:element minOccurs="0" maxOccurs="1" name="motivo" type="xs:string" />
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element minOccurs="0" maxOccurs="1" name="cargos">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element minOccurs="1" maxOccurs="unbounded" name="cargo">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element minOccurs="1" maxOccurs="1" name="base" type="xs:decimal" />
                                  <xs:element minOccurs="1" maxOccurs="1" name="porcentaje" type="xs:decimal" />
                                  <xs:element minOccurs="1" maxOccurs="1" name="valor" type="xs:decimal" />
                                  <xs:element minOccurs="0" maxOccurs="1" name="motivo" type="xs:string" />
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element minOccurs="0" name="datosAdicionales">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="datoAdicional">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="numDato" type="xs:unsignedInt" />
                                  <xs:element minOccurs="0" name="valorDato" type="xs:string" />
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="extensionBolsa">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="consecutivo" type="xs:string" />
                <xs:element minOccurs="1" maxOccurs="1" name="fechaCumplimiento" type="xs:string" />
                <xs:element minOccurs="1" maxOccurs="1" name="cantidadNominal" type="xs:decimal" />
                <xs:element minOccurs="1" maxOccurs="1" name="precioRegistro" type="xs:decimal" />
                <xs:element minOccurs="1" maxOccurs="1" name="montoRendimientos" type="xs:decimal" />
                <xs:element minOccurs="1" maxOccurs="1" name="valor" type="xs:decimal" />
                <xs:element minOccurs="1" maxOccurs="1" name="porcentajeComision" type="xs:decimal" />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="extensionPOS">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="beneficiosComprador">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="1" maxOccurs="1" name="codigoComprador" type="xs:string" />
                      <xs:element minOccurs="1" maxOccurs="1" name="nombreComprador" type="xs:string" />
                      <xs:element minOccurs="1" maxOccurs="1" name="puntosAcumuladosComprador" type="xs:decimal" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" maxOccurs="1" name="puntoDeVenta">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="1" maxOccurs="1" name="placaCaja" type="xs:string" />
                      <xs:element minOccurs="1" maxOccurs="1" name="ubicacionAlmacen" type="xs:string" />
                      <xs:element minOccurs="1" maxOccurs="1" name="nombreVendedor" type="xs:string" />
                      <xs:element minOccurs="1" maxOccurs="1" name="tipoCaja" type="xs:string" />
                      <xs:element minOccurs="1" maxOccurs="1" name="codigoVenta" type="xs:string" />
                      <xs:element minOccurs="1" maxOccurs="1" name="subtotalVenta" type="xs:decimal" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="extensionSPD">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="referenciaPago" type="xs:string" />
                <xs:element minOccurs="0" maxOccurs="1" name="fechaUltimoPago" type="xs:string" />
                <xs:element minOccurs="0" maxOccurs="1" name="estratoPredio" type="xs:string" />
                <xs:element minOccurs="0" maxOccurs="1" name="tipoUsoPredio" type="xs:string" />
                <xs:element minOccurs="0" maxOccurs="unbounded" name="servicioPublico">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="1" maxOccurs="1" name="numLinea" type="xs:integer" />
                      <xs:element minOccurs="1" maxOccurs="1" name="indTercero" type="xs:string" />
                      <xs:element minOccurs="1" maxOccurs="1" name="servicioFacturado" type="xs:string" />
                      <xs:element minOccurs="1" maxOccurs="1" name="empresa" type="xs:string" />
                      <xs:element minOccurs="1" maxOccurs="1" name="motivo" type="xs:string" />
                      <xs:element minOccurs="0" maxOccurs="1" name="numeroContrato" type="xs:string" />
                      <xs:element minOccurs="0" maxOccurs="1" name="fechaContrato" type="xs:string" />
                      <xs:element minOccurs="0" maxOccurs="1" name="informacionContrato" type="xs:string" />
                      <xs:element minOccurs="0" maxOccurs="unbounded" name="subscriptor">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="nombre" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="direccionPostal" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="direccionEntrega" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="ciudad" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="departamento" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="pais" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="tipoEstrato" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="email" type="xs:string" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element minOccurs="0" maxOccurs="unbounded" name="valorFacturado">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="1" name="ciclo" type="xs:integer" />
                            <xs:element minOccurs="0" maxOccurs="1" name="tipoPeriodicidad" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="1" name="infoAdicional" type="xs:string" />
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="producto">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element minOccurs="0" maxOccurs="1" name="totalUnidades" type="xs:decimal" />
                                  <xs:element minOccurs="0" maxOccurs="1" name="unidadMedidaTotal" type="xs:string" />
                                  <xs:element minOccurs="0" maxOccurs="1" name="consumoTotal" type="xs:decimal" />
                                  <xs:element minOccurs="0" maxOccurs="1" name="unidadesConsumidas" type="xs:decimal" />
                                  <xs:element minOccurs="0" maxOccurs="1" name="unidadMedidaConsumida" type="xs:string" />
                                  <xs:element minOccurs="0" maxOccurs="1" name="valorConsumoParcial" type="xs:decimal" />
                                  <xs:element minOccurs="0" maxOccurs="1" name="valorUnitario" type="xs:decimal" />
                                  <xs:element minOccurs="0" maxOccurs="1" name="cantidadAplicaPrecio" type="xs:decimal" />
                                  <xs:element minOccurs="0" maxOccurs="1" name="unidadMedida" type="xs:string" />
                                  <xs:element minOccurs="0" maxOccurs="unbounded" name="descuentos">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="1" name="razonDescuento" type="xs:string" />
                                        <xs:element minOccurs="0" maxOccurs="1" name="valorDto" type="xs:decimal" />
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element minOccurs="0" maxOccurs="unbounded" name="cargos">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="1" name="razonCargo" type="xs:string" />
                                        <xs:element minOccurs="0" maxOccurs="1" name="valorCargo" type="xs:decimal" />
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element minOccurs="0" maxOccurs="unbounded" name="lecturaContador">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="1" name="datosMedidor" type="xs:string" />
                                        <xs:element minOccurs="0" maxOccurs="1" name="fechaLecturaAnterior" type="xs:string" />
                                        <xs:element minOccurs="0" maxOccurs="1" name="unidadesLecturaAnterior" type="xs:decimal" />
                                        <xs:element minOccurs="0" maxOccurs="1" name="unidadMedidaAnterior" type="xs:string" />
                                        <xs:element minOccurs="0" maxOccurs="1" name="fechaLecturaActual" type="xs:string" />
                                        <xs:element minOccurs="0" maxOccurs="1" name="unidadesLecturaActual" type="xs:decimal" />
                                        <xs:element minOccurs="0" maxOccurs="1" name="unidadMedidaActual" type="xs:string" />
                                        <xs:element minOccurs="0" maxOccurs="1" name="metodoLectura" type="xs:string" />
                                        <xs:element minOccurs="0" maxOccurs="1" name="duracionServicio" type="xs:decimal" />
                                        <xs:element minOccurs="0" maxOccurs="1" name="unidadMedidaServicio" type="xs:string" />
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" maxOccurs="1" name="historicoConsumos">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element minOccurs="0" maxOccurs="1" name="pagoAnterior" type="xs:decimal" />
                                  <xs:element minOccurs="0" maxOccurs="unbounded" name="consumoMensual">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="1" name="unidadesConsumidas" type="xs:decimal" />
                                        <xs:element minOccurs="0" maxOccurs="1" name="unidadMedidaConsumo" type="xs:string" />
                                        <xs:element minOccurs="0" maxOccurs="1" name="fechaInicioPeriodo" type="xs:string" />
                                        <xs:element minOccurs="0" maxOccurs="1" name="fechaFinPeriodo" type="xs:string" />
                                        <xs:element minOccurs="0" maxOccurs="1" name="diasFacturados" type="xs:decimal" />
                                        <xs:element minOccurs="0" maxOccurs="1" name="unidadMedidaDiasFacturados" type="xs:string" />
                                        <xs:element minOccurs="0" maxOccurs="1" name="valorAPagar" type="xs:decimal" />
                                        <xs:element minOccurs="0" maxOccurs="1" name="divisa" type="xs:string" />
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element minOccurs="0" maxOccurs="unbounded" name="consumoPromedio">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="1" name="unidadesConsumidas" type="xs:decimal" />
                                        <xs:element minOccurs="0" maxOccurs="1" name="unidadMedidaConsumo" type="xs:string" />
                                        <xs:element minOccurs="0" maxOccurs="1" name="mediaConsumo" type="xs:decimal" />
                                        <xs:element minOccurs="0" maxOccurs="1" name="unidadMedidaMediaConsumo" type="xs:string" />
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" maxOccurs="1" name="historicoResiduos">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element minOccurs="0" maxOccurs="1" name="totalNoAprovechable" type="xs:decimal" />
                                  <xs:element minOccurs="0" maxOccurs="1" name="totalLimpiezaBarrido" type="xs:decimal" />
                                  <xs:element minOccurs="0" maxOccurs="1" name="totalLimpiezaUrbana" type="xs:decimal" />
                                  <xs:element minOccurs="0" maxOccurs="1" name="totalInutil" type="xs:decimal" />
                                  <xs:element minOccurs="0" maxOccurs="unbounded" name="residuos">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element minOccurs="0" maxOccurs="1" name="total" type="xs:decimal" />
                                        <xs:element minOccurs="0" maxOccurs="1" name="unidadMedidaTotal" type="xs:string" />
                                        <xs:element minOccurs="0" maxOccurs="1" name="fechaInicioPeriodo" type="xs:string" />
                                        <xs:element minOccurs="0" maxOccurs="1" name="fechaFinPeriodo" type="xs:string" />
                                        <xs:element minOccurs="0" maxOccurs="1" name="tipoResiduo" type="xs:string" />
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="acuerdosPago">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element minOccurs="0" maxOccurs="1" name="numeroContrato" type="xs:string" />
                                  <xs:element minOccurs="0" maxOccurs="1" name="nombreProducto" type="xs:string" />
                                  <xs:element minOccurs="0" maxOccurs="1" name="descripcionProducto" type="xs:string" />
                                  <xs:element minOccurs="0" maxOccurs="1" name="cuotasAPagar" type="xs:decimal" />
                                  <xs:element minOccurs="0" maxOccurs="1" name="cuotasPagadas" type="xs:decimal" />
                                  <xs:element minOccurs="0" maxOccurs="1" name="porcentajeInteres" type="xs:decimal" />
                                  <xs:element minOccurs="0" maxOccurs="1" name="saldoAPagar" type="xs:decimal" />
                                  <xs:element minOccurs="0" maxOccurs="1" name="cuotasACancelar" type="xs:decimal" />
                                  <xs:element minOccurs="0" maxOccurs="1" name="valorCuotaPagar" type="xs:decimal" />
                                  <xs:element minOccurs="0" maxOccurs="1" name="totalCargos" type="xs:decimal" />
                                  <xs:element minOccurs="0" maxOccurs="1" name="totalDescuento" type="xs:decimal" />
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="extensionTransporte">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="1" name="transporteTerrestre">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="1" maxOccurs="1" name="idTransporte" type="xs:string" />
                      <xs:element minOccurs="1" maxOccurs="1" name="modoTransporte" type="xs:string" />
                      <xs:element minOccurs="1" maxOccurs="1" name="medioTransporte" type="xs:string" />
                      <xs:element minOccurs="1" maxOccurs="1" name="lugarOrigen" type="xs:string" />
                      <xs:element minOccurs="1" maxOccurs="1" name="lugarDestino" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" maxOccurs="1" name="transporteAereo">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" maxOccurs="unbounded" name="informacionViajero">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element minOccurs="1" maxOccurs="1" name="numeroReserva" type="xs:string" />
                            <xs:element minOccurs="1" maxOccurs="1" name="identificadorPasajero" type="xs:string" />
                            <xs:element minOccurs="1" maxOccurs="1" name="nombrePasajero" type="xs:string" />
                            <xs:element minOccurs="1" maxOccurs="1" name="correoPasajero" type="xs:string" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="extensionJuegos">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="1" name="direccion" type="xs:string" />
                <xs:element minOccurs="1" maxOccurs="1" name="deposito" type="xs:decimal" />
                <xs:element minOccurs="1" maxOccurs="2" name="informacionJuego">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="1" maxOccurs="1" name="tipoJuego" type="xs:string" />
                      <xs:element minOccurs="1" maxOccurs="1" name="numeroInstrumento" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="instrumentoJuego">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="1" maxOccurs="1" name="numeroSerie" type="xs:string" />
                      <xs:element minOccurs="1" maxOccurs="1" name="creditos" type="xs:decimal" />
                      <xs:element minOccurs="1" maxOccurs="1" name="divisa" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="extensionEspectaculoPublico">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="infoEspectaculoPublico">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="1" maxOccurs="1" name="nombreOrganizador" type="xs:string" />
                      <xs:element minOccurs="1" maxOccurs="1" name="identificadorOrganizador" type="xs:string" />
                      <xs:element minOccurs="0" maxOccurs="1" name="codigoLEP" type="xs:string" />
                      <xs:element minOccurs="1" maxOccurs="1" name="nombreEvento" type="xs:string" />
                      <xs:element minOccurs="0" maxOccurs="1" name="codigoPULEP" type="xs:string" />
                      <xs:element minOccurs="0" maxOccurs="1" name="tipoEntrada" type="xs:string" />
                      <xs:element minOccurs="0" maxOccurs="1" name="etapaVenta" type="xs:string" />
                      <xs:element minOccurs="0" maxOccurs="1" name="categoriaEvento" type="xs:string" />
                      <xs:element minOccurs="0" maxOccurs="1" name="areaEvento" type="xs:string" />
                      <xs:element minOccurs="0" maxOccurs="1" name="ciudadEvento" type="xs:string" />
                      <xs:element minOccurs="0" maxOccurs="1" name="direccionEvento" type="xs:string" />
                      <xs:element minOccurs="0" maxOccurs="1" name="fechaEvento" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="entregaFactura">
        <xs:sequence>
          <xs:element minOccurs="0" form="qualified" name="request" type="tns:entregaFacturaRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="entregaFacturaRequest">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="documento" nillable="true" type="tns:documento" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="entregaFacturaResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:facturaResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="facturaResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="codigoRespuesta" type="xs:int" />
          <xs:element minOccurs="0" name="mensajeRespuesta" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getEstadosFacturas">
        <xs:sequence>
          <xs:element minOccurs="0" form="qualified" name="request" type="tns:consultaEstadosFacturasRequest" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="getEstadosFacturasResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:consultaEstadosFacturasResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="SAAFException" type="tns:SAAFException" />
      <xs:complexType name="SAAFException">
        <xs:sequence>
          <xs:element minOccurs="0" name="code" type="xs:int" />
          <xs:element minOccurs="0" name="errorMessage" type="xs:string" />
          <xs:element minOccurs="0" name="localizedMessage" type="xs:string" />
          <xs:element minOccurs="0" name="stringCode" type="xs:string" />
          <xs:element minOccurs="0" name="visible" type="xs:boolean" />
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getEstadosFacturasConFicheros">
    <wsdl:part name="parameters" element="tns:getEstadosFacturasConFicheros" />
  </wsdl:message>
  <wsdl:message name="SAAFException">
    <wsdl:part name="SAAFException" element="tns:SAAFException" />
  </wsdl:message>
  <wsdl:message name="getEstadosFacturas">
    <wsdl:part name="parameters" element="tns:getEstadosFacturas" />
  </wsdl:message>
  <wsdl:message name="consultaFacturasModificadasResponse">
    <wsdl:part name="parameters" element="tns:consultaFacturasModificadasResponse" />
  </wsdl:message>
  <wsdl:message name="entregaFacturaResponse">
    <wsdl:part name="parameters" element="tns:entregaFacturaResponse" />
  </wsdl:message>
  <wsdl:message name="consultaFacturasModificadas">
    <wsdl:part name="parameters" element="tns:consultaFacturasModificadas" />
  </wsdl:message>
  <wsdl:message name="getEstadosFacturasResponse">
    <wsdl:part name="parameters" element="tns:getEstadosFacturasResponse" />
  </wsdl:message>
  <wsdl:message name="getEstadosFacturasConFicherosResponse">
    <wsdl:part name="parameters" element="tns:getEstadosFacturasConFicherosResponse" />
  </wsdl:message>
  <wsdl:message name="entregaFactura">
    <wsdl:part name="parameters" element="tns:entregaFactura" />
  </wsdl:message>
  <wsdl:portType name="ConsultaEstadosFacturasWSService">
    <wsdl:operation name="consultaFacturasModificadas">
      <wsdl:input name="consultaFacturasModificadas" message="tns:consultaFacturasModificadas" />
      <wsdl:output name="consultaFacturasModificadasResponse" message="tns:consultaFacturasModificadasResponse" />
      <wsdl:fault name="SAAFException" message="tns:SAAFException" />
    </wsdl:operation>
    <wsdl:operation name="getEstadosFacturasConFicheros">
      <wsdl:input name="getEstadosFacturasConFicheros" message="tns:getEstadosFacturasConFicheros" />
      <wsdl:output name="getEstadosFacturasConFicherosResponse" message="tns:getEstadosFacturasConFicherosResponse" />
      <wsdl:fault name="SAAFException" message="tns:SAAFException" />
    </wsdl:operation>
    <wsdl:operation name="entregaFactura">
      <wsdl:input name="entregaFactura" message="tns:entregaFactura" />
      <wsdl:output name="entregaFacturaResponse" message="tns:entregaFacturaResponse" />
      <wsdl:fault name="SAAFException" message="tns:SAAFException" />
    </wsdl:operation>
    <wsdl:operation name="getEstadosFacturas">
      <wsdl:input name="getEstadosFacturas" message="tns:getEstadosFacturas" />
      <wsdl:output name="getEstadosFacturasResponse" message="tns:getEstadosFacturasResponse" />
      <wsdl:fault name="SAAFException" message="tns:SAAFException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConsultaEstadosFacturasWSSoapBinding" type="tns:ConsultaEstadosFacturasWSService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultaFacturasModificadas">
      <soap:operation soapAction="urn:ConsultaFacturasModificadas" style="document" />
      <wsdl:input name="consultaFacturasModificadas">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="consultaFacturasModificadasResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SAAFException">
        <soap:fault use="literal" name="SAAFException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEstadosFacturasConFicheros">
      <soap:operation soapAction="urn:GetEstadosFacturasConFicheros" style="document" />
      <wsdl:input name="getEstadosFacturasConFicheros">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getEstadosFacturasConFicherosResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SAAFException">
        <soap:fault use="literal" name="SAAFException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="entregaFactura">
      <soap:operation soapAction="urn:EntregaFactura" style="document" />
      <wsdl:input name="entregaFactura">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="entregaFacturaResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SAAFException">
        <soap:fault use="literal" name="SAAFException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getEstadosFacturas">
      <soap:operation soapAction="urn:GetEstadosFacturas" style="document" />
      <wsdl:input name="getEstadosFacturas">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getEstadosFacturasResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SAAFException">
        <soap:fault use="literal" name="SAAFException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConsultaEstadosFacturasWS">
    <wsdl:port name="ConsultaEstadosFacturasWSPort" binding="tns:ConsultaEstadosFacturasWSSoapBinding">
      <soap:address location="https://pruebas.invoway.com/INVOWAYLATAM/services/ConsultaEstadosFacturasWSPort" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>